<footer class="footer">
    <span class="footer__copyright">本站点采用<a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">知识共享 署名-非商业性使用-相同方式共享 4.0 国际 许可协议</a></span>
    <span class="footer__copyright">基于 <a href="http://ghost.org">Ghost</a> 搭建，感谢 <a href="https://www.digitalocean.com/?refcode=30ed2d146762">Digital Ocean</a> 为本站提供稳定的 VPS 服务</span>
<span class="footer__copyright">本站由 <a href="http://www.nohackcc.com”>@nohackcc</a> 创建，采用 <a href="http://github.com/onevcat/vno">Vno</a> 作为主题,非常感谢onevcat的建站教程，建站参考<a href="http://www.onevcat.com">onevcat</a></span>
	<span class="footer__copyright">&copy; {{date format="YYYY"}}  All rights reserved.</span>
</footer>
